
.lotteryResultFirstCard {
  height: 203px;
  width: 291px;
  padding: 5px 3px;
  background-color: #dbdbdb;
  box-shadow: 0px -1px 0px rgba(255,255,255,.4);
}
.cardTabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: inset 0px -3px 0px #c1c2c2;
}
.cardTab {
  width: 100px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}
.cardTab:hover {
  cursor: pointer;
}
